{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block main-content %} 

<!--Hero_Section-->
<section id="hero_section" class="top_cont_outer">
  <div class="hero_wrapper">
    <div class="container">
      <div class="hero_section">
        <div class="row">
          <div class="col-md-12">
		   
            <div class="top_left_cont intro zoomIn wow animated"> 
              <h2>Hi, I AM MOSHARAF<br> <strong>DATA SCIENTIST</strong></h2>
              <p>
			  I am Mohammad Mosharaf Ali, Experienced data science professional with excellent leadership and interpersonal skills. <br/>
			  4+ years hands-on experience utilizing statistical modeling and machine learning techniques. <br/>
              Enthusiastic about life, artificial intelligence and innovation. </p>
                <div class="underline"></div>             
              <ul class="social_links">
            <li class="twitter animated bounceIn wow delay-02s animated" style="visibility: visible; animation-name: bounceIn;"><a href="https://twitter.com/Arian00753"><i class="fa fa-twitter"></i></a></li>
            <li class="facebook animated bounceIn wow delay-03s animated" style="visibility: visible; animation-name: bounceIn;"><a href="https://www.facebook.com/arian.ali"><i class="fa fa-facebook"></i></a></li>
            <li class="linkedin animated bounceIn wow delay-04s animated" style="visibility: visible; animation-name: bounceIn;"><a href="https://www.linkedin.com/in/mosharafali/"><i class="fa fa-linkedin"></i></a></li>
            <li class="instagram animated bounceIn wow delay-05s animated" style="visibility: visible; animation-name: bounceIn;"><a href="https://www.instagram.com/mosharaf.ali.arian/"><i class="fa fa-instagram"></i></a></li> 
          </ul> </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</section>
<!--Hero_Section--> 


<!--Service-->
<section  id="service">
  <div class="container">
    <h2>Skills</h2>
	<h6>I have two skills technical skills and non technical skills </h6>
    <div class="service_wrapper">
      <div class="row">
        <div class="col-md-3">
		<div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-python"></i></span></span> </div>
          <div class="service_block">
            
            <h3 class="animated fadeInUp wow">Python</h3>
            <p class="animated fadeInDown wow">Python NumPy, Python Pandas, Python Matplotlib, Python SciPy</p>
          </div>
        </div>
        <div class="col-md-3"> 
		<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class='fa fa-machinelearning'></i></span> </div> 
		<div class="service_block">
            <h3 class="animated fadeInUp wow">Machine Learning</h3>
            <p class="animated fadeInDown wow">K-nearest neighbors, Random Forests, Naive Bayes, Regression.</p>
          </div>
        </div>
        <div class="col-md-3">
		<div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa fa-datascience"></i></span> </div>
          <div class="service_block">
            
            <h3 class="animated fadeInUp wow">Data Science</h3>
            <p class="animated fadeInDown wow">Statistics, Data wrangling , Data Analysis, Data Visualization.</p>
          </div>
        </div>
		  <div class="col-md-3">
		<div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="TensorFlow"></i></span> </div>
          <div class="service_block">
            
            <h3 class="animated fadeInUp wow">TensorFlow</h3>
            <p class="animated fadeInDown wow">Tensorflow is a symbolic math library based on dataflow and programming.</p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
<!--Service-->


	<!-- Resume start -->

	<section id="section-resume" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center wow fadeInUp"><br>
          <br><h2 class="heading-title">Resume</h2>
          

    <a href="https://drive.google.com/file/d/1JXH-P0MnM_eGonnZtmNAOLuSRJC6GCDb/view?usp=sharing" class="btn btn-default featured">Download Resume</a>
	</div>
</div>
	 
	</section>
	<!-- Resume end -->

<!-- Portfolio -->
<section id="Portfolio" class="content"> 
  
  <!-- Container -->
  <div class="container portfolio_title"> 
    
    <!-- Title -->
    <div class="section-title">
      <h2><strong>Projects</strong></h2>
	<h6>Please check data science, machine learning and python project.</h6>
	  
    </div>
    <!--/Title --> 
    
  </div>
  <!-- Container -->
  
  <div class="portfolio-top"></div>
  
  <!-- Portfolio Filters -->
  <div class="portfolio"> 
    
    <div id="filters" class="sixteen columns">
      <ul class="clearfix">
        <li><a id="all" href="#" data-filter="*" class="active">
          <h5>All</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".datascience">
          <h5>Data Science</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".machinelearning">
          <h5>Machine Learning</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".python">
          <h5>Python</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".android">
          <h5>Android</h5>
          </a></li>
        <li><a class="" href="#" data-filter=".appleIOS">
          <h5>Apple IOS</h5>
          </a></li>
      </ul>
    </div>
    <!--/Portfolio Filters --> 
    
    <!-- Portfolio Wrapper -->
    <div class="isotope fadeInLeft animated wow grid" style="position: relative; overflow: hidden; height: 480px;" id="portfolio_wrapper">  
      <!-- Portfolio Item -->
      <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   datascience isotope-item effect-oscar">
	   
        <div class="portfolio_img"> 
		<img src="{% static 'img/portfolio_pic1.jpg' %}"  alt="Portfolio 1"> </div> 
			<figcaption>		
				<div>
				  <a href="https://share.streamlit.io/mosharafali/fire-pediction/main/main.py" class="fancybox"> 
					<h2>Warm <span>Oscar</span></h2>
							<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				  </a>
				</div>
			</figcaption>
        </figure>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item-->
      <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  machinelearning isotope-item effect-oscar">
        <div class="portfolio_img"> <img src="{% static 'img/portfolio_pic2.jpg' %}" alt="Portfolio 1"> </div>
        	<figcaption>		
				<div>
				  <a href="http://127.0.0.1:8000/titanic.html" class="fancybox"> 
					<h2>Warm <span>Oscar</span></h2>
							<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				  </a>
				</div>
			</figcaption>
        </figure>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item -->
      <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  machinelearning isotope-item effect-oscar">
        <div class="portfolio_img"> <img src="{% static 'img/portfolio_pic3.jpg' %}" alt="Portfolio 1"> </div>
       <figcaption>		
				<div>
				  <a href="{% static 'img/portfolio_pic3.jpg' %}" class="fancybox"> 
					<h2>Warm <span>Oscar</span></h2>
							<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				  </a>
				</div>
			</figcaption>
        </figure>
      <!--/Portfolio Item--> 
      
      <!-- Portfolio Item-->
      <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 0px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  machinelearning  datascience python isotope-item effect-oscar">
        <div class="portfolio_img"> <img src="{% static 'img/portfolio_pic4.jpg' %}" alt="Portfolio 1"> </div>
         <figcaption>		
				<div>
				  <a href="{% static 'img/portfolio_pic4.jpg' %}" class="fancybox"> 
					<h2>Warm <span>Oscar</span></h2>
							<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				  </a>
				</div>
			</figcaption>
      </figure>
      <!-- Portfolio Item --> 
      
      <!-- Portfolio Item -->
      <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  machinelearning isotope-item effect-oscar">
        <div class="portfolio_img"> <img src="{% static 'img/portfolio_pic5.jpg' %}" alt="Portfolio 1"> </div>
       <figcaption>		
				<div>
				  <a href="{% static 'img/portfolio_pic5.jpg' %}" class="fancybox"> 
					<h2>Warm <span>Oscar</span></h2>
							<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				  </a>
				</div>
			</figcaption>
      </figure>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item -->
      <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(337px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  python isotope-item effect-oscar">
        <div class="portfolio_img"> <img src="{% static 'img/portfolio_pic6.jpg' %}" alt="Portfolio 1"> </div>
       <figcaption>		
				<div>
				  <a href="{% static 'img/portfolio_pic6.jpg' %}" class="fancybox"> 
					<h2>Warm <span>Oscar</span></h2>
							<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				  </a>
				</div>
			</figcaption>
      </figure>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item  -->
      <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(674px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four  machinelearning  datascience isotope-item effect-oscar">
        <div class="portfolio_img"> <img src="{% static 'img/portfolio_pic7.jpg' %}" alt="Portfolio 1"> </div>       
       <figcaption>		
				<div>
				  <a href="{% static 'img/portfolio_pic7.jpg' %}" class="fancybox"> 
					<h2>Warm <span>Oscar</span></h2>
							<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				  </a>
				</div>
			</figcaption>
       </figure>
      <!--/Portfolio Item --> 
      
      <!-- Portfolio Item -->
      <figure style="position: absolute; left: 0px; top: 0px; transform: translate3d(1011px, 240px, 0px) scale3d(1, 1, 1); width: 337px; opacity: 1;" class="portfolio-item one-four   datascience isotope-item effect-oscar">
        <div class="portfolio_img"> <img src="{% static 'img/portfolio_pic8.jpg' %}" alt="Portfolio 1"> </div>       
      <figcaption>		
				<div>
				  <a href="{% static 'img/portfolio_pic8.jpg' %}" class="fancybox"> 
					<h2>Warm <span>Oscar</span></h2>
							<p>Oscar is a decent man. He used to clean porches with pleasure.</p>
				  </a>
				</div>
			</figcaption>
        </figure>
      <!--/Portfolio Item --> 
      
    </div>
    <!--/Portfolio Wrapper --> 
    
  </div>
  <!--/Portfolio Filters -->
  
  <div class="portfolio_btm"></div>
  
  
  <div id="project_container">
    <div class="clear"></div>
    <div id="project_data"></div>
  </div>
 
  
</section>
<!--/Portfolio --> 
{% endblock main-content %}
