{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block main-content %} 




<!--Footer-->
<footer class="footer_wrapper" id="contact">
  <div class="container">
    <section class="page_section contact" id="contact">
      <div class="contact_section">
        <h2>My Data Science Project</h2>
        <ul>
            <li class="active"><a href="#hero_section" class="scroll-link">Home</a></li>
                  <li><a href="#aboutUs" class="scroll-link">About Me</a></li>
            <li><a href="#service" class="scroll-link">Skills</a></li>
            <li><a href="#section-resume" class="scroll-link">Resume</a></li>
                  <li><a href="#Portfolio" class="scroll-link">Projects</a></li>
            <li><a href="#contact" class="scroll-link">Contact</a></li>
            <li><a href="python.html" class="scroll-link">Python</a></li>
            <li><a href="ml.html" class="scroll-link">Machine Learning</a></li>
            <li><a href="ds.html" class="scroll-link">Data Science</a></li>
            
                 
                </ul>
     
      </div>
      <div class="row">
        <div class="col-lg-4 wow fadeInLeft">	
		
       		  
			  
          
         
        </div>
        <div class="col-lg-8 wow fadeInLeft delay-06s">
         	  
        
	
        </div>
      </div>
    </section>
  </div>
<!--Footer-->

{% endblock main-content %} 

