{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}


{% block main-content %} 




<!--Footer-->
<footer class="footer_wrapper" id="contact">
  <div class="container">
    <section class="page_section contact" id="contact">
      <div class="contact_section">
        <h2>My Python Project</h2>
        <ul>
            <li><a href="webbot.html" class="scroll-link"><h4>Webbot</h4></a></li>
            <li><a href="ytdownload.html" class="scroll-link"><h4>Youtube Downloader</h4></a></li>
            <li><a href="#service" class="scroll-link">Skills</a></li>
            <li><a href="#section-resume" class="scroll-link">Resume</a></li>
            <li><a href="#Portfolio" class="scroll-link">Projects</a></li>
            <li><a href="#contact" class="scroll-link">Contact</a></li>
            <li><a href="python.html" class="scroll-link">Python</a></li>
            <li><a href="ml.html" class="scroll-link">Machine Learning</a></li>
            <li><a href="ds.html" class="scroll-link">Data Science</a></li>
            
                 
                </ul>
     
      </div>
      <div class="row">
        <div class="col-lg-4 wow fadeInLeft">	
		
       		  
			  
          
         
        </div>
        <div class="col-lg-8 wow fadeInLeft delay-06s">
         	  
        
	
        </div>
      </div>
    </section>
  </div>
  <div class="container">
    <div class="footer_bottom"><span>Copyright © 2021. The best <a href="https://robotsmachine.com" target="_blank">Django Website</a> by robotsmachine.com</span> </div>
  </div>
</footer>




{% endblock main-content %} 